@model lab6.Models.FileModel

@{
    ViewData["Title"] = "Create File";
}

<h1>Upload File</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FileUpload" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="File"></label>
                <input type="file" class="form-control" name="file" />
            </div>
            <div class="form-group">
                <input hidden asp-for="FolderId" value="@Model.FolderId" class="form-control" />
                <span asp-validation-for="FolderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-controller="FileSystem" asp-action="OpenFolder" asp-route-id="@Model.FolderId">Back</a>
                <input type="submit" value="Upload" class="btn btn-primary ml-2" />
            </div>
        </form>
    </div>
</div>





